# Compiled source
*.pyc
/__pycache__/
# Text backup files
*.bak
# Database
*.sqlite3
# remove virtualenv
venv
# ide folders
.vscode
# folders
/static
/migrations/
logs/
# ignore these files device side
*.log
ecdata.txt
phdata.txt
node_modules

###> docker config###
/database/data/**
!/database/data/**/
!/database/data/**/.gitkeep
###< docker config###
/logs
