# Compiled source
*.pyc
/__pycache__/
# Text backup files
*.bak
# Database
*.sqlite3
# remove virtualenv
venv
# ide folders
.vscode
# folders
logs/**/
!logs/**/.gitkeep
logs/**/*.log

###> docker config###
/docker/celery/data/**
!/docker/celery/data/**/.gitkeep
###< docker config###