# Compiled source
*.pyc
/__pycache__/
# Text backup files
*.bak
# Database
*.sqlite3
# virtualenv
venv

# folders
static/**
!static/**/.gitkeep

media/**
!media/**/.gitkeep

!media/gpk/
media/user-content/**
!media/user-content/

logs/*.log
logs/**/*.log
logs/**/**/*.log
!logs/.gitkeep
!logs/**/.gitkeep
!logs/**/**/.gitkeep

ssl/**
!ssl/.gitkeep